@use 'global' as *;

.newsletter {
    display: flex;
    gap: 2rem;
    border-top: 1px solid $primary_color_text;
    padding: 40px;
    align-items: center;

    .news1 {
        flex: 50%;
        padding: 20px;
        .faq {
            h4 {
                font-family: $font-family-tittle;
                font-size: 2rem;
                font-weight: 900;
                color: $hover_color;
            }

            p {
                font-family: $font-family-tittle;
                font-size: 1.5rem;
                font-weight: 500;

                a{
                    font-family: $font-family-tittle;
                    font-size: 1.8rem;
                    font-weight: 900;
                    &:hover {
                        color: $hover_color;
                    }
                }
            }
        }

        .contacto {
            display: flex;
            gap: 1rem;

            & > div {
                display: flex;
                flex-direction: column;
                flex: 50%;

                .contact_title {
                    color: $hover_color;
                    font-family: $font-family-tittle;
                    font-size: 1.8rem;
                    font-weight: 900;
                }

                a {
                    font-family: $font-family-body;
                    font-size: 1rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    &:hover {
                        color: $hover_color;
                    }
                }
            }
        }
    }

    .news2 {
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .image_content {
            background-color: $hover_color;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100px;
                transition: transform 1.5s;
                border-radius: 50%;
                &:hover {
                    transform: rotate(360deg);
                }
            }
        }

        p {
            font-family: $font-family-tittle;
            font-size: 2rem;
            font-weight: 500;
            padding: 10px;
            line-height: 1;
        }
    }
}